# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln

# Rider
.idea/

# VSCode
.vscode/

# Build files
*.obj
*.pdb
*.ipch

# Mac/Linux
.DS_Store